body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.center{
	text-align:center;
}
.login-view{
	width:300px;
    margin:50px auto;
    border:5px blue solid;
    border-radius:10px;
    padding:20px
}

.login-view h2{
	margin:0 0 20px 0;
  	text-align:center;
}
.login-view h3{
	margin:0 0 20px 0;
  	text-align:center;
}
.homepage-view{
 	border:5px blue solid;
      border-radius:10px;
  	width:90%;
	margin:20px auto;
  padding:30px;
}
.top-section{
  width:100%;
  display:inline-block;
}
.logout-view{
	float:right;
  	font-size:20px;
}
.active {
  font-weight: bold;
}
.nav {
	display:inline-block;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}
a {
  text-decoration: none;
  color: #252525;
}
ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}