body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* genereic styles */
.center{
	text-align:center;
}

/* login styles */
.login-view{
	width:400px;
  margin:50px auto;
  border:5px red solid;
  border-radius:10px;
  padding:20px
}

.login-view h2{
	margin:0 0 20px 0;
  text-align:center;
}
.login-view h3{
	margin:0 0 20px 0;
  text-align:center;
}

.login-view label , .login-view select , .login-view button { margin:10px}

.login-view form{
  display: flex;
  justify-content: center;
}

/* homepage styles */
.homepage-view{
 	border:5px blue solid;
  border-radius:10px;
  width:90%;
	margin:20px auto;
  padding:30px;
}
.top-section{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* lougout styles */
.logout-view{
  display: flex;
  align-items: center;
}
.loggedinUserImage{
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin:0 10px 0 0;
  border:2px blue solid;
}
.logout-view span{
  font-size: 20px;
  margin:0 10px;
}


/* navigation styles */
.active {
  font-weight: bold;
}
.nav {
	display:inline-block;
}
.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  margin:0;
}

.nav li:first-child {
  padding-left: 0;
}
a {
  text-decoration: none;
  color: #252525;
}
ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}


/* poll item  styles */
.PollItem-view{
  display: flex;
}
.PollItem-view > div{
  flex-basis: 25%;
}
.unansweredpoll-item{
  margin:20px;
  padding:10px;
  border:3px orange solid;
  border-radius: 10px;
}


.answeredpoll-item{
  margin:20px;
  padding:10px;
  border:3px green solid;
  border-radius: 10px;
}

.authorImage{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin:10px;
  border:2px blue solid;
}